---
sail:

  model_path: null

  refs:
    - linear_reg: &linear_reg 
        class: sail.models.river.linear_model.LinearRegression
        params:
          - name: optimizer
            class: river.optim.SGD
            params:
              - name: lr
                value: 0.1
          - name: intercept_init
            value: 0.15
            
    - random_forest: &random_forest
        class: sail.models.river.forest.AdaptiveRandomForestRegressor
        params:
          - name: n_models
            value: 20

  steps: &steps
    - type: tuple
      name: Imputer
      class: sklearn.impute.SimpleImputer
      params:
        - name: missing_values
          class: numpy.nan
        - name: strategy
          value: mode
    - type: tuple
      name: standard_scalar
      class: sail.transfomers.river.preprocessing.StandardScaler
    - type: tuple
      name: regressor
      value: passthrough

  sail_pipeline:
    - name: steps
      ref:  *steps
    - name: scoring
      class: river.metrics.R2
    - name: verbosity
      value: 1
    
  parameter_grid:
    - - name: regressor
        ref:  
          - *linear_reg
      - name: regressor__l2
        value:
          - 0.1
          - 0.9
      - name: regressor__intercept_init
        value:
          - 0.2
          - 0.5
    - - name: regressor
        ref: 
          - *random_forest
      - name: regressor__n_models
        value:
          - 10
          - 15
          - 20

  search_method: SAILTuneGridSearchCV
  search_data_size: 200
  search_method_params:
    - name: verbose
      value: 1
    - name: num_cpus_per_trial
      value: 1
    - name: max_iters
      value: 1
    - name: early_stopping
      value: false
    - name: mode
      value: max
    - name: scoring
      value: r2
    - name: pipeline_auto_early_stop
      value: false
    - name: keep_best_configurations
      value: 2
    - name: cluster_address
      value: "ray://ray-cluster-head-svc:10001"
    - name: namespace
      value: sail-tune
    - name: runtime_env
      params:
        - name: py_modules 
          module: 
            - sail     
        - name: pip
          value:
            - "dill"
            - "ipython"
            - "logzero"
            - "numpy>=1.23"
            - "river==0.14.*"
            - "tune_sklearn"
            - "scikit-learn>=1.2"

  incremental_training: true

  drift_detector:
    class: sail.drift_detection.drift_detector.SAILDriftDetector
    params:
    - name: model
      class: river.drift.EDDM
    - name: drift_param
      value: difference

  pipeline_strategy: DetectAndIncrement

time_series:
  model_table: wind_turbine
  target: active_power
  timestamp_col: datetime 
  selected_features: [] # empty means use all features
  classes: [] # only applicable for classification problem and when incremental_training is enabled
  from_date: null
  to_date: null
  data_limit: 500 # put null for all data
  data_batch_size: 50
  data_ingestion_freq: 0 #ingestion frequency in sec